extends ../../_component/layout/template

block config
  -
    const myTitle = 'Learn to code CSS Borders for beginners';
    const myDescription = "The CSS border properties allow you to specify the style, width, and color of an element's border.";
    const landingPage = 'CSS';
    const activeLink = '/css/borders';

block content
  h1=myTitle
  p=myDescription
  h2 Examples
  h3 CSS Borders
  p The CSS border properties allow you to specify the style, width, and color of an element's border.
  p(style={border: 'dotted'}) This is a dotted border.
  p(style={border: 'dashed'}) This is a dashed border.
  p(style={border: 'solid'}) This is a solid border.
  p(style={border: 'double'}) This is a double border.
  p(style={border: 'groove'}) This is a groove border.
  p(style={border: 'ridge'}) This is a ridge border.
  p(style={border: 'inset'}) This is a inset border.
  p(style={border: 'outset'}) This is a outset border.