extends ../../_component/layout/template

block config
  -
    const myTitle = 'Learn to code CSS Borders for beginners';
    const myDescription = "The CSS border properties allow you to specify the style, width, and color of an element's border.";
    const landingPage = 'CSS';
    const activeLink = '/css/borders';

block content
  h1=myTitle
  p=myDescription
  h2 CSS colors
  p Color in CSS are most often specified by:
  ul
    li a valid color
    li an RGB value
    li a HEX value
  h2 CSS Backgrounds
  p The CSS background properties are used to define the background effects for elements.
  h2 CSS Borders
  p The CSS border properties allow you to specify the style, width, and color of an element's border.