extends ../../_component/layout/template

block config
  -
    const myTitle = 'Learn to code JavaScript Comments for beginners';
    const myDescription = 'JavaScript comments can be used to explain JavaScript code, and to make it more readable.';
    const landingPage = 'JavaScript';
    const activeLink = '/javascript/comments';

block content
  h1=myTitle
  p=myDescription
  h2 Examples
  h3 JavaScript Comments
  p JavaScript comments can be used to explain JavaScript code, and to make it more readable.
  p JavaScript comments can also be used to prevent execution, when testing alternative code.
  h3 Single Line Comments
  p Single line comments start with #[span(style='color: red') //].
  p Any text between #[span(style='color: red') //] and the end of the line will be ignored by JavaScript (will not be executed).
  h3 Multi-line Comments
  p Multi-line comments start with #[span(style='color: red') /*] and end with #[span(style='color: red') */].
  p Any text between #[span(style='color: red') /*] and #[span(style='color: red') */] will be ignored by JavaScript.