extends ../_component/layout/template

block config
  -
    const myTitle = 'Learn to code HTML for beginners';
    const myDescription = 'HTML is the standard markup language for Web pages.';
    const landingPage = 'HTML';
    const activeLink = '';

block content
  h1=myTitle
  p=myDescription
  h2 HTML Elements
  p An HTML element usually consists of a start tag and an end tag, with the content inserted in between.
  h2 HTML Attributes
  p Attributes provide additional information about HTML elements.
  h2 HTML Headings
  p Headings are important in HTML documents.