extends ../../_component/layout/template

block config
  -
    const myTitle = 'Learn to code JavaScript Operators for beginners';
    const myDescription = 'An operator performs some operation on single or multiple operands (data value) and produces a result. With operators we can also concatenate strings and much more.';
    const landingPage = 'JavaScript';
    const activeLink = '/javascript/operators';

block content
  h1=myTitle
  p=myDescription
  h2 Examples
  h3 JavaScript Operators
  p The assignment operator (#[span(style='color: red') =]) assigns a value to a variable:
  p var x = 10;
  p The addition operator (#[span(style='color: red') +]) adds numbers:
  ul
    li const x = 5;
    li const y = 2;
    li const z = x + y;
  p The multiplication operator (#[span(style='color: red') *]) multiplies numbers:
  ul
    li const x = 5;
    li const y = 2;
    li const z = x * y;
