extends ../_component/layout/template

block config
  -
    const myTitle = 'Learn to code Python for beginners';
    const myDescription = 'Python can be used on a server to create web applications.';
    const landingPage = 'Python';
    const activeLink = '';

block content
  h1=myTitle
  p=myDescription
  h2 Python Strings
  p String literals in python are surrounded by either single quotation marks, or double quotation marks.#[br]'hello' is the same as "hello".
  h2 Python Lists
  p A list is a collection which is ordered and changeable. In Python lists are written with square brackets.
  h2 Python Tuples
  p A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.