extends ../../_component/layout/template

block config
  -
    const myTitle = 'Learn to code JavaScript Variables for beginners';
    const myDescription = 'JavaScript variables are containers for storing data values.';
    const landingPage = 'JavaScript';
    const activeLink = '/javascript/variables';

block content
  h1=myTitle
  p=myDescription
  h2 Examples
  h3 JavaScript Variables
  p JavaScript variables are containers for storing data values.
  p In this example, x, y, and z, are variables:
  ul
    li const x = 5;
    li const y = 6;
    li const z = x + y;
  p From the example above, you can expect:
  ul
    li x stores the value 5
    li y stores the value 6
    li z stores the value 11
  h2 Much Like Algebra
  p In this example, price1, price2, and total, are variables:
  ul
    li const price1 = 5;
    li const price2 = 6;
    li const total = price1 + price2;
  p In programming, just like in algebra, we use variables (like price1) to hold values.
  p In programming, just like in algebra, we use variables in expressions (total = price1 + price2).
  p From the example above, you can calculate the total to be 11.