extends ../_component/layout/template

block config
  -
    const myTitle = 'Learn to code JavaScript for beginners';
    const myDescription = 'JavaScript is the programming language of HTML and the Web.';
    const landingPage = 'JavaScript';
    const activeLink = '';

block content
  h1=myTitle
  p=myDescription
  h2 JavaScript Comments
  p JavaScript comments can be used to explain JavaScript code, and to make it more readable.
  h2 JavaScript Variables
  p JavaScript variables are containers for storing data values.
  h2 JavaScript Operators
  p An operator performs some operation on single or multiple operands (data value) and produces a result. For example 1 + 2, where + sign is an operator and 1 is left operand and 2 is right operand. + operator adds two numeric values and produces a result which is 3 in this case. We can also concatenate strings and much more.