extends ../../_component/layout/template

block config
  -
    const myTitle = 'Learn to code CSS Backgrounds for beginners';
    const myDescription = 'The CSS background properties are used to define the background effects for elements.';
    const landingPage = 'CSS';
    const activeLink = '/css/backgrounds';

block content
  h1=myTitle
  p=myDescription
  h2 Examples
  h3 CSS Backgrounds

  p The background-color property specifies the background color of an element.
  div(style='background-color:green')
    h1(style='color:white') Heading
  div(style='background-color:lightblue')
    h1(style='color:red') Heading
  div(style='background-color:purple')
    h1(style='color:black') Heading