extends _component/layout/template

block config
  -
    const myTitle = 'Learn to code HTML, CSS and JavaScript';
    const myDescription = 'This is an HTML replica of w3schools.com';
    const landingPage = '';
    const activeLink = '';

block content
  h1 This is a replica of w3schools.com
  p I'll go through all possible HTML elements as well as CSS to gain knowledge quicker and get used to writing and producing styled HTML pages.
  h2 HTML
  p The language of building web pages. #[a(href='/html') Check it out!]
  h2 CSS
  p The language of styling web pages. #[a(href='/css') See awesomeness happening!]
  h2 JavaScript
  p The language of programming web pages. #[a(href='/javascript') Discover the way up!]
